{% extends "base.html" %} {% block title %}Update account info{% endblock %} {% block content
    %}
<body style="background-color: #738A6D;">

<div style="border-radius: 5px; text-align: center; display: flexbox; width: 90%; background-color: white; height:100vh; margin: auto;">
<form method="post" style="padding: 20px;">
    <label>Edit your account Name:</label>
    <input type="text" name="userName" id="userName" required/>
    <input type="hidden" id="id" name="id" value="{{user.id}}"/>
    <button type="submit" style="border-radius: 12px; border: 1px solid black;">Update Name</button>
</form>

<form method="post" style="padding: 20px;">
    <label>Change your email:</label>
    <input type="text" id="email" name="email" required/>
    <input type="hidden" id="id" name="id" value="{{user.id}}"/>
    <button type="submit" style="border-radius: 12px; border: 1px solid black;">Update email</button>
</form>

<form method="post" style="padding: 20px;">
    <label>change your password:</label>
    <input type="password" id="oldPassword" name="oldPassword" placeholder="old password" required/>
    <input type="password" id="password" name="password" placeholder="new password" required/>
    <input type="hidden" id="id" name="id" value="{{user.id}}"/>
    <button type="submit" style="border-radius: 12px; border: 1px solid black;">Update password</button>
</form>
<form method="post" action="viewAccount" style="padding: 20px;">
    <input type="hidden" id="accountId" name="accountId" value="{{user.name}}"/>
    <button type="submit" style="border-radius: 12px; border: 1px solid black;">Return to Account page</button>
</form>
</div>
</body>
  {% endblock %}
  